# Default Owners
*    @ryan77627 @aorps @chikao28

# backend
/backend/   @ryan77627

# frontend
/frontend/  @chikao28 @aorps

# twilio 
/twilio/ @aorps

# tool + infra
/playbook/  @aorps
/tool/      @aorps
